// ================================================================================================
// Variables
// ================================================================================================

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
);

$colors: (
  'application': (
    'gray': hsl(0, 0%, 33%),
    'orange': hsl(15, 88%, 60%),
    'yellow-100': hsl(53, 88%, 62%),
    'yellow-200': hsl(41, 100%, 52%)
  ),
  'basic': (
    'black': hsl(0, 0%, 0%),
    'white': hsl(0, 0%, 100%)
  ),
  'javascript': (
    'gray': hsl(60, 2%, 18%),
    'yellow': hsl(53, 88%, 62%)
  ),
  'shadow': (
    'black-25': hsla(0, 0%, 0%, 0.25),
    'black-50': hsla(0, 0%, 0%, 0.5),
    'black-75': hsla(0, 0%, 0%, 0.75)
  )
);

$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$font-family-sans-serif: Arial, 'Helvetica Neue', Helvetica, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
